@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --primary-color: #0d263b;
  --secondary-color: #696969;
  --active-color: #0061df;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Montserrat", sans-serif;
}
.center {
  text-align: center;
}